@font-face {
    font-family: "Barlow";
    src: url('fonts/Barlow-Regular.otf') format("woff2"),
    url('fonts/Barlow-Regular.otf') format("woff2");
    font-weight: 300;
    font-style: normal;
} 
body{
    background-color: #EFF6FF;
    font-family: 'Barlow', Arial, sans-serif;;
    
    color: #2A4A5C;
}
img{
    width: 100%;
    height: auto;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content_wrapper {
    background-color: #FFFFFF;
    margin-top: 40px;
    display: flex;
    box-shadow: 5px 20px 25px rgba(26, 181, 219, 0.342);
}
.content_right{
    max-width: 450px;
    position: relative;
}
.content_right-logo{
    position: absolute;
    max-width: 100px;
    top: 30px;
    left: 35px;
}
.content_left {
    padding: 50px 40px 0;
}

.content_left-title {
    font-weight: 600;
}
.content_left-text{
    font-weight: 200;
    font-size: 11px;
    padding-top: 10px;
}
.content_left-registration-social{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
}
.registration-social_btn{
    color:#EEEEEE;
    font-size: 9px;
    font-weight: 200;
    text-align: center;
    padding: 6px 25px 6px 8px;
    max-width: 110px;
}
.registration-social_btn:hover{
    cursor: pointer;
    background-color:#16365e;
    transition: background-color linear 0.3s;
}
.registration-social_btn-img{
    width: 10px;
    height: 12px;
    padding-right: 6px;
}
.fasebook {
    background-color:#255A9B;
}
.linkedin{
    background-color:#0076B6;
}
.content_left-underline-wrapper{
    text-align: center;
    margin-top: 20px;
}
.content_left-underline{
    text-align: center;
    font-size: 10px;
    position: relative;
}
.content_left-underline::before{
    display: block;                 
    width:60px;                    
    content: '';                     
    border-bottom: 1px solid #96A5B1;
    position: absolute;
    left: 20px;
    bottom: 5px;
}
.content_left-underline::after{
    display: block;                 
    width:60px;                    
    content: '';                     
    border-bottom: 1px solid #96A5B1;
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.info-img{
    width: 10px;
}
.content_left-form{
    margin-top: 20px;
}
.form_input_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_input{
    position: relative;
    border: 1px solid #96A5B1;
    padding-top: 20px;
    padding-bottom: 3px;
    max-width: 135px;
}
.form_input:focus{
    border-left:2px solid #3698FB;
    outline:0;
}
.form_input_wrapper{
    display: flex;
    justify-content: space-between;
}
.form_input-item{
    position: relative;
    display: flex;
}
.form_input-placeholder{
    position: absolute;
    padding-left: 3px;
    padding-top: 3px;
    margin: 0;
    font-size: 10px;
}
.form_input-radio-title{
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}
.form_input-radio-text{
    font-size: 10px;
    margin-top: 10px;
}
.form_input-radio_wrapper{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.form_input-radio-item{
    padding-right: 8px;
}
.input-radio-item{
    cursor: pointer;
}
.input-radio-img{
    padding-left: 3px;
    width: 8px;
    cursor: pointer;
}

.input-radio-label{
    font-size: 10px;
    font-weight: 600;
}
.form_input-radio_info{
    max-width: 170px;
    font-size: 10px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 20px;
    padding: 8px 8px 8px 10px;
    box-shadow: 5px 8px 5px rgba(196, 196, 196, 0.3);
    border-radius: 3px;
    opacity: 0.8;
}
.form_input-checkbox{
    font-size: 10px;
    margin-top: 30px;
}
.input-checkbox-label{
    font-size: 9px;
}
.input-checkbox-link{
    color:#3698FB;
    text-decoration: underline;
    cursor: pointer;
}
.input-checkbox-link:hover{
    color:#16365e;
    transition: color linear 0.3s;
}
.form_btn{
    margin-top: 30px;
    color:#EFF6FF;
    background-color: #3698FB;
    padding: 8px 40px;
    border: none;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 600;
}
.form_btn:hover{
    cursor: pointer;
    background-color:#16365e;
    transition: background-color linear 0.3s;
}
.form_btn:focus{
    outline: none;
    border-radius: 3px;
}
@media (max-width: 832px) { 
    .content_right{
        max-width: 400px;
    }
    .content_left {
        padding: 30px 20px 0;
    }
    .content_left-underline-wrapper{
        margin-top: 10px;
    }
    .content_left-form{
        margin-top: 10px;
    }
}
@media (max-width: 760px){
    .content_wrapper {
        margin-top: 0;
        box-shadow: none;
        flex-direction: column;
    }
    .content_right{
        max-width: 100%;
        max-height: 150px;
        overflow: hidden;
    }
  
    .content_left {
        padding: 20px 30px 15px;
    }
    .content_left-registration-social{
        justify-content:space-evenly;
    }
    .form_input_wrapper{
        justify-content:space-evenly;
    }
}
@media (max-width: 370px) {
    .content_left-registration-social{
        flex-direction: column;
        align-items: center;
    }    
    .registration-social_btn{
        width: 110px;
        margin-bottom: 10px;
    }
    .form_input_wrapper{
        flex-direction: column;
        align-items: center;
    }
    .form_input-item{
        margin-bottom: 10px;
    }
}